@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Grade Calculator";
}

@model CalculatorModel;

<p>Here is a cool grade calculator, just for fun. And also for requirements</p>
<form  method="post">
    <!--In here I included a few spaces just to make it look 'nice'. It's a little ridiculous haha'-->
    <label for="assgn">Assignments:&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
    <input type="number" id="assgn" asp-for="Assignments" value="94" min="0" max="100" />%<br /><br />

    <label for="group">Group Project:&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
    <input type="number" id="group" asp-for="Projects" value="94" min="0" max="100" />%<br /><br />

    <label for="quiz">Quizzes:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
    <input type="number" id="quiz" asp-for="Quizzes" value="94" min="0" max="100" />%<br /><br />

    <label for="midterm">Midterm Exam:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
    <input type="number" id="midterm" asp-for="Midterm" value="94" min="0" max="100" />%<br /><br />

    <label for="final">Final Exam:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
    <input type="number" id="final" asp-for="Final" value="94" min="0" max="100" />%<br /><br />

    <label for="intex">INTEX:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
    <input type="number" id="intex" asp-for="Intex" value="94" min="0" max="100" />%<br /><br />

    <input type="submit" id="calculate" name="calculate" value="calculate" /><br /><br />

    <input type="text" id="output" name="output" size="30" value="" />
    <div asp-validation-summary ="All"></div>
</form>
<script src="js/myScripts.js"></script>
